@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');


:root{

    --cor0: #FF6600;
    --cor1: #FF3900;
    --cor2: #FF9300;
    --cor3: #FF0D00;
    --cor4: #E09A6B;

    --font-padrao: 'Arial, Helvetica, sans serif ';
    --font-titulo: "Playwrite PT";

}

*{
    margin: auto;
    padding: auto;
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2) );

}

header > h1{
    font-family: var(--font-titulo);
    text-align: center;
    font-weight: bolder;
    font-size: 1.2;
    padding: 5px 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.13);
    color: rgb(255, 245, 192);
}

header > h3{
    font-family: var(--font-titulo);
    text-align: center;
    max-width: 500px;
    padding-bottom: 10px;
    color: rgb(255, 245, 192);
}

nav{
    background-color: #ffbf66;
    padding: 10px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: var(--cor1);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.7;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor3);
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.096);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
    background-size: cover;
    background-attachment: fixed;
    
}
section.imagem > p{
    font-family: var(--font-titulo);
    color: rgb(255, 245, 192);
    font-size: 3vw;
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 0px black;
}

section#img{
    background-image: url('../Imagens/fundo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 72vh;
    
    
}







